:host {
  display: flex;
  align-items: center;
  margin: 0;
  height: 2rem;
  padding-left: 0.5rem;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  background-color: lightgray;
}
